﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.ReactGetStylePaths()
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    @Html.ValidationSummary(false)
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.Raw($"Ваш промокод: <b>{User.Identity.Name}</b>")
                    <button onclick="window.location.href='Auth/Logout'">Выйти/получить другой промокод</button>
                }
                else
                    @Html.Raw("Вы не авторизованы!")
            </div>
        </div>
        @RenderBody()
    </div>
    @Html.ReactGetScriptPaths()
    @Html.ReactInitJavaScript()
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.2/dist/umd/popper.min.js" 
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" 
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>